@import "../../../styles/breakpoints";

.button {
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.3s;
  padding: 0.625rem 1rem;
  gap: 1rem;
  min-height: 2.313rem;
  font-size: 0.875rem;
  border: none;
  cursor: pointer;
  border-radius: 6px;
  font-weight: 700;

  div {
    width: 1.2rem;
    height: 1.2rem;
  }

  svg {
    color: var(--white);
    font-size: 1.625rem;
  }

  &:disabled {
    background-color: var(--disabled-input);
    color: var(--black);
    cursor: not-allowed;

    svg {
      color: var(--black);
    }
  }
}

.primary {
  background-color: var(--primary);
  color: var(--white);

  &:hover {
    opacity: 0.8;
  }

  &:hover:disabled {
    background-color: var(--disabled-input);
  }
}

.secondary {
  background-color: var(--secondary);
  color: var(--white);

  &:hover {
    opacity: 0.8;
  }

  &:hover:disabled {
    background-color: var(--disabled-input);
  }
}

.icon {
  background-color: var(--primary);
  color: var(--black);
  font-weight: 600;
  width: 50px;

  &:hover {
    opacity: 0.8;
  }
}

.buttonSizeLarge {
  width: 100%;
  height: 3.75rem;
  font-size: 1.125rem;
}

.buttonSizeSmall {
  min-width: 0.5rem;
  height: 3rem;
  border-radius: 6px;
}

// Estilos para desktops
@include media-lg {
  .button {
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.3s;
    padding: 10px 16px;
    gap: 16px;
    min-height: 37px;
    font-size: 14px;
    border: none;
    cursor: pointer;
  }
}
