@import "../../styles/breakpoints";

.container {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  padding-top: 3.125rem;
  padding-bottom: 3.125rem;
}

@include media-md {
  .container {
    flex-direction: row;
  }
}
