@import "../../styles/breakpoints";

.container {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 2rem;
  margin-top: 1rem;

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 250px;
    height: 100%;
    border-radius: 8px;
    padding: 0.25rem;
    border: 1px solid var(--secondary);

    .imageContent {
      height: 200px;
      width: 100%;
      position: relative;
    }
  }

  .productDetails {
    display: flex;
    flex-direction: column;
    margin-bottom: 2rem;

    .titleAndCategory {
      display: flex;
      flex-direction: column;

      .category {
        font-size: 1rem;
        color: var(--gray-600);
      }
    }

    .price {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 1rem;
    }

    .description {
      margin: 1.5rem 0;
      font-size: 1rem;
      line-height: 1.5;
    }

    .addToCartButton {
      margin-top: auto;
    }
  }
}

// Styles for large mobiles
@include media-sm {
}

// Styles for table
@include media-md {
  .container {
    display: grid;
    grid-template-columns: 1fr 2fr;
    align-items: stretch;
    gap: 2rem;
    margin-top: 1.25rem;
    margin-bottom: 2rem;

    .imageWrapper {
      min-height: 450px;
    }

    .productDetails {
      margin-bottom: 0;
    }
  }
}

// Styles for desktops
@include media-lg {
  .container {
    grid-template-columns: 1fr 1fr;
    gap: 4rem;
    margin-top: 3.25rem;

    .imageWrapper {
      min-height: 550px;
    }
  }
}
