.container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  align-items: stretch;
  gap: 4rem;
  margin-top: 6.25rem;

  .imageWrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 650px;
    height: 100%;
    border-radius: 8px;
    padding: 0.25rem;
    border: 1px solid var(--secondary);

    .imageContent {
      height: 200px;
      width: 100%;
      position: relative;
    }
  }

  .productDetails {
    display: flex;
    flex-direction: column;

    .titleAndCategory {
      display: flex;
      flex-direction: column;

      .category {
        font-size: 1rem;
        color: var(--gray-600);
      }
    }

    .price {
      display: block;
      font-size: 2rem;
      font-weight: 700;
      margin-top: 1rem;
    }

    .description {
      margin-top: 2.5rem;
      font-size: 1.125rem;
      line-height: 1.5;
    }

    .addToCartButton {
      margin-top: auto;
    }
  }
}
