@import "../../styles/breakpoints";

.searchWrapper {
  width: 100%;
  padding-bottom: 2rem;

  .formWrapper {
    display: flex;
    flex-direction: column;
    gap: 1.25rem;
    background: var(--gray-100);
    padding: 0.938rem;
    border-radius: 6px;

    .searchButtons {
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      gap: 1.25rem;

      .searchAndClearFilterButtons {
        display: flex;
        gap: 1.25rem;

        .popoverButton {
          background-color: transparent !important;
          border: 1px solid var(--secondary) !important;
          color: var(--black) !important;
        }

        &:first-child {
          > button {
            width: 100%;
          }
        }
      }
    }
  }
}

@include media-sm {
  .searchWrapper {
    .formWrapper {
      .searchButtons {
        flex-direction: row;
      }
    }
  }
}

// Styles for table
@include media-md {
  .searchWrapper {
    .formWrapper {
      flex-direction: row;
    }
  }
}
